.status {
  flex: 1 1 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__head {
    font-size: 17px;
    font-weight: 600;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
